<!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Bright Minds Tutoring<br>
                <a href="mailto:yourfirstname@yourlastname.com">tutor@brightminds.com</a>
            </p>
        </div>
    </footer>
