<!DOCTYPE html>
<html lang="en">

{{ include('shared/header.twig') }}

<body>
    {{ include('shared/nav.twig') }}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-light mb-2">Bright Minds Tutoring</h1>
                        <p class="lead text-light mb-4">Math and sience tutoring services for students K - 12 and
                            college level.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            {% if session.is_valid_user is defined %}
                            <a class="btn btn-light btn-lg px-4 me-sm-3" href=".?action=Show Sign Up">Get Started</a>
                            {% else %}
                            <a class="btn btn-light btn-lg px-4 me-sm-3" href=".?action=Show Register">Get Started</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i
                            class="bi bi-person-square"></i></div>
                    <h2 class="h4 fw-bolder">Meet Our Team</h2>
                    <p>Learn more about our tutors and their backgrounds.</p>
                    <a class="text-decoration-none" href=".?action=Tutors">
                        View available tutors
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-stickies"></i>
                    </div>
                    <h2 class="h4 fw-bolder">Services</h2>
                    <p>Learn more about the tutoring options that we provide to find what works best for you.</p>
                    <a class="text-decoration-none" href=".?action=Services">
                        Learn more
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-pen"></i></div>
                    <h2 class="h4 fw-bolder">Sign Up</h2>
                    <p>Fill out a sign up form and we will be in contact with you within 2 business days.</p>
                    {% if session.is_valid_user is defined %}
                    <a class="text-decoration-none" href=".?action=Show Sign Up">
                        Sign up form
                        <i class="bi bi-arrow-right"></i>
                    </a>
                    {% else %}
                    <a class="text-decoration-none" href=".?action=Show Register">
                        Register and sign up
                    <i class="bi bi-arrow-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {{ include('shared/footer.twig') }}
    {{ include('shared/script.twig') }}
</body>

</html>