<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wolfie's Diner</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./view/style/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" >
            <a class="navbar-brand" href="index.html">Wolfie's Diner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href=".?action=Home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href=".?action=Hours">Hours</a></li>
                    <li class="nav-item"><a class="nav-link" href=".?action=Menu">Menu</a></li>
                </ul>
            </div>  
        </nav>

        <main class="container">
            <h2>Hours</h2>
            <table class="table">
                {% for item in hours %}
                    <tr>
                        <th>{{ item.day }}</th>
                        <td>{{ item.times }}</td>
                    </tr>
                {% endfor %}
            </table>
        </main>

        <footer class="footer">
            <div class="container">
                Copyright &copy; 2023 Wolfie's Diner
            </div>
        </footer>

    </body>
</html>