<!DOCTYPE html>
<html lang="en">

{{ include('shared/header.twig') }}

<body>
    {{ include('shared/nav.twig') }}

  <!-- Main -->
  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">

      <div class="text-center mb-5">
        <h2 class="fw-bolder">Price Quote</h2>
      </div>

      <!-- Results -->
      <div id="price-result" class="border bg-white px-5 py-3 mb-5 fw-bold display-none">
        <table class="pricing">
          <tr>
            <td>Grade Level:</td>
            <td id="grade-value" class="price"></td>
          </tr>
          <tr>
            <td>Hours Per Week:</td>
            <td id="hours-value" class="price"></td>
          </tr>
          <tr>
            <td>Service:</td>
            <td id="service-value" class="price"></td>
          </tr>
          <tr>
            <td>Price Quote:</td>
            <td id="quote-value" class="price"></td>
          </tr>
        </table>
      </div>

      <!-- form -->
      <div class="border bg-white px-5 py-3 mb-5">

        <form>

          <div class="mb-3">
            <div class="form-group">
              <label for="grade-level">Student Grade Level:</label>
              <select class="form-control" id="grade-level" name="grade-level">
                <option value="" selected>Select Grade</option>
                <option value="Elementary School">K-5</option>
                <option value="Middle School">6-8</option>
                <option value="High School">9-12</option>
                <option value="College">College</option>
              </select>
              <div class="error display-none" id="grade-error">Select Grade.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">
              <label for="num-sessions">Sessions Per Week:</label>
              <input class="form-control" type="number" id="num-sessions" name="num-sessions">
              <div class="error display-none" id="sessions-error">Enter a valid number &gt; 0.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">

              <label for="num-hours">Hours Per Session:</label>
              <input class="form-control" type="number" id="num-hours" name="num-hours">
              <div class="error display-none" id="hours-error">Enter a valid number &gt; 0.</div>
            </div>
          </div>

          <div class="mb-3">
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Select Service:</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="services" id="inperson" value="In-Person"
                      checked>
                    <label class="form-check-label" for="inperson">
                      In-Person
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="services" id="online" value="Online">
                    <label class="form-check-label" for="online">
                      Online
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="services" id="group" value="Group Sessions">
                    <label class="form-check-label" for="group">
                      Group Session
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="mb-3" id="price-button">Calculate Cost</div>

        </form>

      </div>
    </div>
  </section>

  {{ include('shared/footer.twig') }}
  {{ include('shared/script.twig') }}
</body>

</html>