<!DOCTYPE html>
<html lang="en">

{{ include('shared/header.twig') }}

<body>
    {{ include('shared/nav.twig') }}

  <!-- Services section-->
  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Tutoring Services</h2>
        <p class="lead mb-0">Subject, location, and grade level info.</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Subjects
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul>
                      <li>Math</li>
                      <li>Chemistry</li>
                      <li>Biology</li>
                      <li>Physics</li>
                  </ul>    
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Location
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul>
                      <li><strong>In-person tutoring</strong> 
                          <br>In-person tutoring takes place in Sarasota. Your tutor meets you at the Fruitville
                            Public Library at the intersection of Fruitville Rd and Lake Wood Ranch Blvd.</li>
                      <li><strong>Online tutoring</strong> 
                          <br>Online tutoring takes place via zoom. Your tutor will send you a zoom meeting
                            invitation at least 24 hours before your scheduled meeting time.</li>
                  </ul>  
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Grade Level
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                      <li>Elementary School Level (K-5)</li>
                      <li>Middle School Level (6-8)</li>
                      <li>High School Level (9-12)</li>
                      <li>College Level</li>
                  </ul>  
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>

    {{ include('shared/footer.twig') }}
    {{ include('shared/script.twig') }}
</body>

</html>