<!DOCTYPE html>
<html lang="en">

    {{ include('shared/header.twig') }}

<body>
    {{ include('shared/nav.twig') }}

  <!-- Form section-->
  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Sign Up for Weekly Sessions</h2>
        <p class="lead mb-0">Fill out an intake form and one of our tutors will contact you to
          schedule your first session.
        </p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="flex-shrink-0">
          <div class="container">


            <form method="post" action=".">

              <fieldset class="border bg-white px-5 py-3 mb-5">
                <div class="mb-3">
                  <label for="snameField" class="form-label">Student Name: </label>
                  <input type="text" class="form-control" id="snameField" name="snameField">
                  <br>
                
                  <label for="gradeField" class="form-label">Student Grade Level: </label>
                  <select class="form-select" id="gradeField" aria-label="Selct Grade">
                    <option value="">Grade Level</option>
                    <option value="1">K-5</option>
                    <option value="2">6-8</option>
                    <option value="3">9-12</option>
                    <option value="3">college</option>
                  </select>
                  <br>
                
                  <label for="subjectField" class="form-label">Subject: </label>
                  <select class="form-select" id="subjectField" aria-label="Select Subject">
                    <option value="">Subject</option>
                    <option value="1">Math</option>
                    <option value="2">Chemistry</option>
                    <option value="3">Biology</option>
                    <option value="3">Physics</option>
                  </select>
                  <br>
                  
                  <label for="dateField" class="form-label">Start Date: </label>
                  <input type="date" class="form-control" id="dateField" name="dateField">
                  <br>
                  
                  <label for="serviceRadio1" class="form-label">Service: </label>

                  <div class="form-check" id="radioSelection">
                    <input class="form-check-input" type="radio" name="serviceRadio" id="serviceRadio1" value="inperson">
                    <label class="form-check-label" for="serviceRadio1">
                      In-Person
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="serviceRadio" id="serviceRadio2" value="online">
                    <label class="form-check-label" for="serviceRadio2">
                      Online
                    </label>
                  </div>
                  <br>
                  
                  <input type="submit" id="submit" class="btn btn-secondary" value="Sign Up" name="action">

              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ include('shared/footer.twig') }}
  {{ include('shared/script.twig') }}
</body>

</html>