<!DOCTYPE html>
<html lang="en">

{{ include('shared/header.twig') }}

<body>
    {{ include('shared/nav.twig') }}

    <!-- Tutor Section -->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Meet our Tutors</h2>
                <p class="lead mb-0">Find the right tutor for you</p>
            </div>
            <div class="row gx-5 justify-content-center">

                <!-- Card 1 -->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <img src="images/labpic.PNG" class="card-img-top" alt="anna">
                        <div class="card-body p-5">
                            <h4 class="card-title">Anna</h4>
                            <div class="small text-uppercase fw-bold text-muted">Math and Chemistry</div>
                            <p class="card-text">Anna recieved a masters degree in organic chemistry from Emory
                                University. She has worked as a chemistry teaching assistant and she has 9 years of
                                tutoring experience in chemistry and math. Her favorite subject to tutor is high school
                                and college level math.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <img src="images/olivia.jpg" class="card-img-top" alt="Olivia">
                        <div class="card-body p-5">
                            <h4 class="card-title">Olivia</h4>
                            <div class="small text-uppercase fw-bold text-muted">Biology</div>
                            <p class="card-text">Olivia recieved a bachelors degree in biology from New College. She has
                                been working hands-on in biology labs for 4 years, and she has 6 years of tutoring
                                experience. She can tutor biology at all levels and enjoys tutoring science with
                                elementary school and middle school students.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <img src="images/maddison.jpg" class="card-img-top" alt="Maddison">
                        <div class="card-body p-5">
                            <h4 class="card-title">Maddison</h4>
                            <div class="small text-uppercase fw-bold text-muted">Math and Physics</div>
                            <p class="card-text">Maddison recieved a masters degree in physics from Florida State
                                University. She is a high school math teacher and she has 10 years of tutoring
                                experience. She tutors math and physics to students of all levels elementary through
                                college.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {{ include('shared/footer.twig') }}
    {{ include('shared/script.twig') }}
</body>

</html>